<% if signed_in?  %>
  <% if current_user.unconfirmed_email.present? %>
    <div id="flash unconfirmed_email_user">
          <div class="alert alert-dismissable alert-warning fade in">
            <button aria-hidden="true" class="close" data-dismiss="alert">×</button>

            <div class="first-row"><p>확인 메시지가 <strong><%= current_user.unconfirmed_email %></strong>로 전송되었습니다. 윙스타의 기능을 모두 이용하려면 이메일 주소를 확인해주세요.</p></div>
            <div class="second-row"><%= link_to "확인메일 다시보내기", new_user_confirmation_path %></div>
      </div>
    </div>
  <% end %>
  <% if current_user.email.blank? %>
        <div id="flash unconfirmed_email_user">
          <div class="alert alert-dismissable alert-warning fade in">
            <button aria-hidden="true" class="close" data-dismiss="alert">×</button>
                <p>트위터 계정은 이메일 주소를 제공하지 않으므로 이메일 인증후 사용해주세요. 윙스타의 일부 기능이 제한됩니다.</p>
          </div>
        </div>
  <% end %>
<% end %>