<% content_for(:title, 'Wingstar') %>


<div id="header">
  <div class="branding">
      <div class="logo">
        Wingstar
      </div>
      <p class="slogan">
        We will wing your dream
      </p>
  </div>
  <nav class="member-nav">
    <ul>
      <li class="login">Login</li>
      <li class="register">Register</li>
    </ul>
  </nav>

</header>
<div id="body" class="container">
    <aside class="left-side">
        <nav>
            <ul>
              <li></li>
            </ul>
        </nav>
    </aside>
</div>
<footer id="footer">

</footer>