/*
* Nanum Barun Gothic (Korean) http://hangeul.naver.com
*/
@font-face {
  font-family: 'barun';
  font-style: normal;
  font-weight: 400;
  src: font-url("NanumBarunGothic.eot"),
       font-url("NanumBarunGothic.eot?#iefix") format('embedded-opentype'),
       font-url("NanumBarunGothic.woff") format('woff'),
       font-url("NanumBarunGothic.ttf") format('truetype');
}