/******************************************************************************
* Large devices
******************************************************************************/
@media (min-width: 1200px) {

}

/******************************************************************************
* Medium devices
******************************************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  #search_container {
    width: 70% !important;
  }

}

/******************************************************************************
* Small devices
******************************************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  #search_container {
    width: 63% !important;
  }
}

/******************************************************************************
* Extra small devices
******************************************************************************/
@media (max-width: 767px) {
  #search_container {
    width: 60% !important;
  }

  #top_nav {
    position: absolute !important;
    top: 60px !important;
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px !important;
    background: #24282f !important;
    -moz-box-shadow: 0px 6px 10px 3px #24282f !important;
    -webkit-box-shadow: 0px 6px 10px 3px #24282f !important;
    box-shadow: 0px 6px 10px 3px #24282f !important;
    z-index: 20 !important;

    ul {

      li {
        font-size: 14px !important;
        margin: 0 !important;

        a { padding: 10px 15px !important; }
        a:hover {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          background: #5CD2EA !important;
        }
      }
    }
  }

  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

