/****************
*  Reset & Base
*****************/
div, #header, #body, #footer {
  position: relative;
  margin: 0;
  padding: 0;
  float: none;
  clear: both;
}

input, textarea, select, button, a:hover, a:focus, a {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
}

#header,#body,#footer {
  font-size: 12px;
  font-family: 'barun';
}

#body { z-index: -1; }

/****************
*  Style
*****************/
body { background: #eee; }
a { color: #333; }
a:hover { color: #2990ea; }
p a { color: #2990ea; }
p a:hover { color: #2990ea; text-decoration: underline; }


input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}

input:focus, textarea:focus, select:focus {
  box-shadow: 0px 0px 10px #64d3ff;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}


#header {
  position: relative;
  margin: 0;
  padding: 15px;
  height: 50px;
  -webkit-box-shadow: 0px 1px 1px 1px #ccc;
  -moz-box-shadow: 0px 1px 1px 1px #ccc;
  box-shadow: 0px 1px 1px 1px #ccc;
  background: #fff;


  .branding {
    width: 60%;
    float: left;

    .logo {
      margin-right: 10px;
      float: left;
    }

    .slogan {
      position: relative;
      float: left;
      text-transform: capitalize;
    }
  }

  .member-nav {
    margin: 0;
    padding: 0;
    float: right;

    ul {
      margin: 0;
      padding: 0;
      float: left;

      li {
        margin-right: 20px;
        display: inline;
      }
    }

    .settings {
      .dropdown-menu {
        margin: 0;
        padding: 5px 0;
        top: 33px;
        left: -40px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;

        li {
          font-size: 12px;
          margin: 0;
          padding: 0;

          a {
            margin: 0;
            padding: 5px 20px 3px 20px;
            color: #555;
          }

          a > i {
            position: relative;
            margin: 0 7px 0 0;
            padding: 0;
            color: #999;
          }

          a:hover > i.fa-cog {
            color: #333 !important;
          }

          a:hover > i.fa-power-off {
            color: #fe355b !important;;
          }
        }

        .dropdown-header {
          padding: 3px 20px;
        }

      }
    }

  }

}

#body {
  clear: both;
  margin: 0;
  padding: 20px 100px;
  background: #eee;

}


#footer {
  clear: both;
  margin: 0;
  padding: 15px 10px 0 10px;
  height: 50px;
  background: #35373f;
  overflow: hidden;

  .logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    a { color: #fff; text-transform: lowercase; }
  }

  .bottom_nav {
    float: right;
    margin: 0;
    padding: 3px 0 0 0;

    ul li {
      margin: 0 15px;
      padding: 0;
      font-size: 11px;
      font-weight: bold;
      list-style: none;
      display: inline;
      letter-spacing: -1px;

      a { color: #fff; text-transform: uppercase; }
    }
  }
}

/****************
*  Components
*****************/

.animBox-right {
  left: 0px;
  input {
    left: 0px;
    position: absolute;
  }
}

.round-border {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#registrationModal,
#loginModal {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 50px;

  input,select{
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;

    span {
      font-size: 45px;
    }
  }

  .container {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: center;


    .header {
      margin: 0 0 20px 30px;

      .title {
        color: #555;
      }
    }

    .body {
      margin-left: 25px;

      form {

        .first_name, .last_name, .email, .password {
          color: #555;
          padding-left: 30px;
          display: block;
          width: 280px;
          height: 40px;
        }

        .fa {
          width: 15px;
          height: 10px;
          position: absolute;
          top: 13px;
          left: -20px;
          color: #999;
        }

        .date_of_birth_container {
          select {
            margin-right: 10px;
            width: 75px;
            height: 30px;
            color: #999;
            background: #fff;
          }
        }

        .gender_container {
          margin: 10px 0;

          span {
            margin: 0 20px;

            input {
              margin-right: 10px;
            }

            label {
              color: #555;
              font-size: 14px;

              .fa {
                width: 15px;
                height: 10px;
                position: relative;
                top: 0px;
                left: 0px;
                color: #999;
              }

              .fa-female {
                color: #ff7db5;
              }

              .fa-male {
                color: #5acbff;
              }
            }
          }
        }

        .locale_container {
          select {
            width: 280px;
            height: 30px;
            color: #999;
            background: #fff;
          }
        }

        .agreement_container {
          font-size: 14px;
          color: #555;

          .agreement {
            padding: 0;
            margin-top: 5px;
            margin-left: -20px;
          }

          .notice {
            text-align: left;
            font-size: 9px;
            color: #999;
          }
        }

        .btn {
          width: 280px;
        }
      }
    }
  }
}

#loginModal {

  .remember_container {
    margin: 15px 0 15px 0;
    padding: 0 0 0 23px;
    text-align: left;
    font-size: 14px;
    color: #555;
    letter-spacing: -1px;

    .remember_me {
      padding: 0;
      margin-top: 5px;
      margin-left: -20px;
    }
  }
}
