<% unless flash.blank? %>
<div id="flash">
  <% flash.each do |type, message| %>
      <div class="alert alert-dismissable <%= bootstrap_flash(type) %> fade in">
        <p><%= message %></p>
  <% end %>
      </div>
</div>
<% end %>

<% if resource.present? %>
    <% if resource.errors.present? %>
    <div id="flash">
      <div class="alert alert-dismissable alert-danger fade in">
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
<% end %>