<% unless flash.blank? %>
<div id="flash">
  <% flash.each do |type, message| %>
      <div class="alert alert-dismissable <%= bootstrap_flash(type) %> fade in">
        <button aria-hidden="true" class="close" data-dismiss="alert">×</button>
        <p><%= message %></p>
  <% end %>
      </div>
</div>
<% end %>